<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
    <link rel="stylesheet" th:href="@{/scss/_product.scss}"/>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="container">
        <div class="row">
          <div class="row row-cols-3 col-sm">
            <div th:each="product : ${list_product}" class="col ">
                <div class="card" style="width: 16rem;">
                    <img th:src="${product.images}"  class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title" th:text="${product.name}"></h5>
                      <p class="card-text" th:text="${product.price}">$</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
            </div>
           
          </div>
          </div>
      </div>
</div>
</body>
</html>
