<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apple Store -  Product List</title>
    
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="container">
        <div class="row">
          <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3  justify-content-start">
            <div th:each="product : ${list_product}" class="col align-items-center">
                <div class="card m-1 p-1" style="width: 16rem;">
                   
                    <div class="card-body " >
                      <img th:src="${product.images}"  class="card-img-top" alt="">
                      <h5 class="card-title" th:text="${product.name}"></h5>
                      <p class="card-text" th:text="${product.price}">$</p>
                      <div class="d-flex justify-content-between ">
                        <button class="btn btn-outline-info btn-sm add-to-cart p-1 m-1"  th:value="${product.id}" >Add to Cart</button>
                        <button class="btn btn-outline-danger btn-sm remove-to-cart p-1 m-1"  th:value="${product.id}" >Remove to Cart</button>
                      </div>
                    </div>
                  </div>
            </div>
           
          </div>
          </div>
      </div>
</div>
</body>
</html>
<script>
  $(document).ready(function() {
        // Update cart count on page load
        updateCartCount();

        $('.add-to-cart').click(function(e) {
            e.preventDefault();

            const id = $(this).attr('value');
            const name = $(this).closest('.card-body').find('.card-title').text();
            const price = $(this).closest('.card-body').find('.card-text').text();
            const image = $(this).closest('.card-body').find('.card-img-top').attr('src');

            const product = {
                id: id,
                name: name.trim(),
                price: price.trim().replace('$', ''),
                images: image.trim()
            };

            const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
            cartItems.push(product);
            localStorage.setItem('cartItems', JSON.stringify(cartItems));

            // Trigger custom event to notify cart count update
            $(document).trigger('cartUpdated');

            Toastify({
                text: "Product added to cart!",
                duration: 5000,
                destination: "/order/cart",
                newWindow: true,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                },
            onClick: function(){} // Callback after click
            }).showToast();

        });


        $('.remove-to-cart').click(function(e){
            e.preventDefault();

            const id = $(this).attr('value');
            const name = $(this).closest('.card-body').find('.card-title').text();
            const price = $(this).closest('.card-body').find('.card-text').text();
            const image = $(this).closest('.card-body').find('.card-img-top').attr('src');

            const product = {
                id: id,
                name: name.trim(),
                price: price.trim().replace('$', ''),
                images: image.trim()
            };

            // remove product from cart
            const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
            const filteredCartItems = cartItems.findIndex(item => item.id === product.id);
            console.log(filteredCartItems)
            if(filteredCartItems > -1){
                cartItems.splice(filteredCartItems, 1);
            }
            localStorage.setItem('cartItems', JSON.stringify(cartItems));

            // Trigger custom event to notify cart count update
            $(document).trigger('cartUpdated');

            alert('Product removed to cart!');

         
        })
        // Listen for cartUpdated event and update cart count
        $(document).on('cartUpdated', function() {
            updateCartCount();
        });

        function updateCartCount() {
            var cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
            var cartCount = cartItems.length;
            $('#cart-count').text(cartCount);
        }

        

       
        
    });
</script>
